body {
    margin: 0;
    background-color: #F0EDE4;
    color: #55545C;
}

/*//////////////The main section///////////////////*/

.container {
    width: 80%;
    margin: auto;
}

#main-sec {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 0;
    justify-content: space-between;
}

#main-sec .book-cover {
    flex-basis: 30%;
}

#main-sec .book-cover img {
    height: 420px;
    width: 279px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#main-sec .book-data {
    flex-basis: 65%;
}

#main-sec .book-data h1 {
    color: #3E5158;
    font-size: 30px;
    margin: 0;
}


#main-sec .book-data strong {
    color: #3E5158;
    font-size: 16px;
}

#main-sec .book-data p {
    margin: 9px 0;
    display: inline-block;
    font-size: 14px;
}

#main-sec .rent,
#main-sec .alter {
    display: flex;
    margin-top: 10px;
}

.available {
    color: #59bd5c;
}

.unavailable {
    color: #FF1919;
}

.button {
    height: 40px;
    padding: 10px 12px;
    margin-right: 10px;
    background-color: #3E5158;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.button-no-hover {
    height: 40px;
    padding: 10px 12px;
    margin-right: 10px;
    background-color: #3E5158;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: default;
    opacity: 0.6;
}

.delete:hover {
    height: 40px;
    padding: 10px 12px;
    margin-right: 10px;
    background-color: #e04242;
    border: none;
    border-radius: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: default;
    opacity: 0.8;
}


/*//////////////recommended books section///////////////*/
#recommended {
    margin: 50px 0;
}

#recommended h1 {
    color: #3E5158;
}

#recommended .suggestion-list {
    display: flex;

}

#recommended a {
    color: #55545C;
    padding: 10px 10px;
    border: 1px #55545C solid;

    margin-right: 15px;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    transition: 0.5s all ease;
}

#recommended a:hover {
    opacity: 0.8;
    transform: scale(1.05);

}

/*//////////////Book manager area///////////////////*/
.small-input {
    height: 25px;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    margin: 15px 0;
    resize: none;
    font-size: 12px;
}


.large-input {
    height: 150px;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    margin: 15px 0;
    resize: none;
    font-size: 12px;
}