<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Readit | Available Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="../../css/available-books.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="../../css/book_details_style.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<body>
    <nav>
        <h1><a href="Home.html">readit</a></h1>
        <ul class="nav-list">
        </ul>
    </nav>
<section class = "available" id = "available">
    <h1 class = "heading"> <span>Available Books</span></h1>
    <div class = "swiper featured-slider">
        <div class = "swiper-wrapper">


        </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</section>
<script src = "../../js/available-books.js"></script>
</body>
</html>