{% extends 'admin-section/admin-pages-layout.html' %}
{% load static %}

{% block title %} ReadIt {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/admin-dashboard.css' %}">
<main id="main-content">
    <div class="main-content">
        <form action="{% url 'add' %}" method="post">
            {% csrf_token %}
            <div class="header">
                <h1>Add a new book:</h1>
                <ul class="bubble">
                    <li>
                        <span class="info">
                            <p>Book title:</p>
                        </span>
                        <input type="text" name="title" pattern="[A-Za-z\s]+">
                    </li>
                    <li>
                        <span class="info">
                            <p>Author / Authors:</p>
                        </span>
                        <input type="text" name="author" pattern="[A-Za-z\s]+">
                    </li>
                    <li>
                        <span class="info">
                            <p>Book description:</p>
                        </span>
                        <textarea class="big-textarea" name="description" pattern="[A-Za-z\s]+" rows="6"></textarea>
                    </li>
                    <li>
                        <span class="info">
                            <p>Page count:</p>
                        </span>
                        <input type="number" name="no_of_pages" pattern="\d+" title="Please enter a positive number"
                            class="small-input" min="1">
                    </li>
                    <li>
                        <span class="info">
                            <p>Language:</p>
                        </span>
                        <select name="language">
                            {% for key, value in languages %}
                            <option value="{{ key }}">{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="info">
                            <p>Please choose the suitable category:</p>
                        </span>
                        <select id="bookCategory" name="category">
                            {% for key, value in categories %}
                            <option value="{{ key }}">{{ value }}</option>
                            {% empty %}
                            <option>No categories available</option>
                            {% endfor %}
                        </select>
                    </li>
                    <li>
                        <span class="info">
                            <p>Price:</p>
                        </span>
                        <input type="number" name="price" pattern="\d+" title="Please enter a positive number"
                            class="small-input" min="1">
                    </li>
                    <li>
                        <span class="info">
                            <p>Number of copies:</p>
                        </span>
                        <input type="number" name="copies" pattern="\d+" title="Please enter a positive number"
                            class="small-input" min="1">
                    </li>
                    <li>
                        <span class="info">
                            <p>Please upload the book cover:</p>
                        </span>
                        <div class="upload-container">
                            <input type="file" name="cover" accept="image/*">

                        </div>
                        <div id="imagePreviewContainer"></div>
                        <br>

                    </li>
                </ul>
                <br><br>
                <div style="text-align: center;">
                    <button type="submit" class="my-button" name="addbutton">Add book</button>
                </div>
        </form>
    </div>
    </div>
</main>
{% endblock %}